<!DOCTYPE html>
<html lang="en">

<head th:insert="base :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificacion</title>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">

                <h1>Formulario Alta Empleado</h1>


                <!--   POST al controller /guardar --- el Empleado vacío que viene de /alta lo paso por th:object -->
                <form class="form form-data" th:action="@{/guardar}" th:object="${empleado}" method="post"
                    enctype="multipart/form-data">

                    <!-- field === con *  que toma los atributos del objeto -->
                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Nombre: " th:field="*{Nombre}">
                        <br>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Primer apellido: "
                            th:field="*{primerApellido}">
                        <br>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Segundo apellido: "
                            th:field="*{segundoApellido}">
                        <br>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" placeholder="Salario: " th:field="*{Salario}">
                    </div>

                    <!--                     
                    
                    <img width="50%" th:src="${empleado.id != 0} 
                                    ? @{/imagenes/}+${empleado.foto} 
                                    : null " 
                                    th:alt="${empleado.id != 0}
                                        ? 'imagen del empleado'
                                        : null ">
 -->
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Foto de Perfil</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>

                    <img th:src="${empleado.id != 0} 
                                ? @{/imagenes/}+${empleado.foto} 
                                : null" 
                        th:alt="${empleado.id != 0}
                                ? 'imagen del empleado'
                                : null ">


                        <!--  Departamentos  -->
                        <!-- th:field="*{Departamento}"  -->
                        <div class="mb-3">
                            <label for="departamento">Departamento: </label>
                            <select class="form-control" id="Departamento" name="Departamento">
                                <option value="0"></option>
                                <option th:each="departamento: ${departamentos}" th:value="${departamento.id}"
                                    th:text="${departamento.Nombre}" th:selected="${empleado.id != 0
                                ? departamento.id == empleado.Departamento.id
                                : null}">
                                </option>
                            </select>
                            <br>
                        </div>
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{foto}">

                        <a href="/listar" class="btn btn-secondary">Volver al inicio</a>
                        <input class="btn btn-success" type="submit">


                </form>

            </div>
        </div>
    </div>


<script th:replace="base :: scripts"></script>

</body>

</html>