<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    
    <h1>Formulario Alta Empleado</h1>
    <!--   POST al controller /guardar --- el Empleado vacío que viene de /alta lo paso por th:object -->
    <form th:action="@{/guardar}" method="post" th:object="${empleado}">

                                <!-- field === con *  que toma los atributos del objeto -->
        <input type="text" placeholder="Nombre: " th:field="*{Nombre}">
        <br>
        <input type="text" placeholder="Primer apellido: " th:field="*{primerApellido}">
        <br>
        <input type="text" placeholder="Segundo apellido: " th:field="*{segundoApellido}">
        <br>
        <input type="text" placeholder="Salario: " th:field="*{Salario}">
        <br>
        <!--  Departamentos  -->
            
        <select th:field="*{Departamento}">
            <option th:each="departamento: ${departamentos}" 
                    th:value="${departamento.id}" 
                    th:text="${departamento.Nombre}">
            </option>
        </select>

        <br>
        <input type="submit">

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>