<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Empleados</title>
</head>
<body>
    
    <!-- <p th:text="${saludo}"></p> -->

    <h1>Listado de Empleados</h1>

    <div>
        <a th:href="@{/alta}">Alta Empleado</a>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Salario</th>
                <th>Detalles</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.Nombre}"></td>
                <td th:text="${empleado.Salario}"></td>
                <td><a th:href="@{/detalle/}+${empleado.id}">Detalles</a></td>     
                <td><a th:href="@{/altaEmpleado/}+${empleado.id}">Modificar</a></td>                       
            </tr>
        </tbody>
    </table>

</body>
</html>