<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificacion</title>
</head>
<body>
    
    <h1>Formulario Alta Empleado</h1>

<!-- 
    <p th:text="'Nombre del empleado: '+${empleado.id}"></p>
    <p th:text="'Departamento: '+${empleado.Nombre}"></p> -->


    <!--   POST al controller /guardar --- el Empleado vacío que viene de /alta lo paso por th:object -->
    <form th:action="@{/guardar}" method="post" th:object="${empleado}">

                                <!-- field === con *  que toma los atributos del objeto -->
        <input type="text" th:field="*{Nombre}">
        <br>
        <input type="text" th:field="*{primerApellido}">
        <br>
        <input type="text" th:field="*{segundoApellido}">
        <br>
        <input type="text" th:field="*{Salario}">
        <br>
        <input type="hidden" th:field="*{id}">
        
        <!--  Departamentos  -->
        <!-- th:field="*{Departamento}"  -->
        <select id="departamentos" name="departamentos" th:object="${empleado}">
            <option th:each="departamento: ${departamentos}" 
                    th:value="${departamento.id}" 
                    th:text="${departamento.Nombre}"
                    th:selected="${departamento.id == empleado.Departamento.id}"
            >
            </option>
        </select> 

        <br>
        <input type="submit">

    </form>

</body>
</html>